<h1>Create a new band</h1>

<form action="<%= bands_url %>" method="post">
  <%=auth_token%>
  <label for="name"></label>
  <input type="text" name="band[name]" id="name">

  <input type="submit" value="Create">
</form>