/* PHASE 1: Header */

body {
  font-weight:700 ;
  font-family: Roboto, sans-serif;
  font-size: 16px
}

.header-nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
}

.header-logo {

}

.header-list {
  display:flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}

header a, header a:hover {
  display: block;
  padding: 10px 20px;
}

header a:hover {
  background-color:black;
}

header a, header a:hover, header a:focus, header a:active {
  text-decoration: none;
  color: white;
}

.badge {
  background-color: black;
  padding: 1px 6px;
  border-radius: 50%;
}

.menu-header:hover .badge {
  background-color: red;
}

.menu {
  position: relative;
}

.menu:hover {
  background-color: black;
}

.menu-items {
  position: absolute;
  background-color: white;
  display:none;
  width: 230px;
}

.menu-items li {
  padding: 5px 10px;
  border: 1px solid black;
}

.menu-header:hover .menu-items {
  display: block;
}

.menu-items li:hover {
  background-color: lightgrey;
}

