<h1>Log In Here</h1>

<form action="<%=session_url%>" method="POST">
  <%= auth_token %>

  <label for="email">email: </label>
  <input type="text" name="user[email]" id="email">

  <label for="password">password: </label>
  <input type="password" name="user[password]" id="password">


  <input type="submit" value="Log In">
</form>

<ul>
  <% if flash.now[:errors] %>
      <% flash.now[:errors].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  <% end %>
</ul>