<h1>New User Sign Up</h1>

<form action="<%= users_url %>" method="post">
  <%= auth_token %>

  <label for="email">email: </label>
  <input type="text" name="user[email]" id="email">

  <br>

  <label for="password">Password: </label>
  <input type="password" name="user[password]" id="password">

  <br>

  <input type="submit" value="Create User">

</form>